@{
    ViewBag.Title = "About";
}

<div class="container-fluid">
    <div class="row">
        <img class="img img-responsive" src="https://paladion.net/wp-content/uploads/2015/05/ABOUT-US1.jpg" />
    </div>
    <br /><br /><br /><br />
    <div class="row flex">
        <div class="col-md-6 align-middle">
            <p><span class="bold">Fusce venenatis purus nec iaculis suscipit</span><br/> Proin ut justo semper risus semper congue.
            Sed pretium porttitor aliquet. Vestibulum in pretium est.
                <br />
            In nulla ipsum, bibendum id laoreet id, bibendum sed erat.
            In ullamcorper iaculis blandit. Aenean non nunc odio.
            Duis dignissim nulla quis enim luctus maximus.
                <br />
            Vivamus varius malesuada rhoncus. Fusce semper dictum tristique.
            Suspendisse posuere pretium ex, eget euismod dolor lobortis non.
            Sed pellentesque facilisis risus, eget ullamcorper nisi finibus vitae.
</p>
        </div>
        <div class="col-md-6">
            <img class="img img-responsive" src="http://theagendadaily.com/wp-content/uploads/2016/04/movies-TAD.jpg" />
        </div>
    </div>
    <br/> <br /><br />
    <div class="row flex">
        <div class="col-md-6">
            <img class="img img-responsive" src="http://www.patrickbetdavid.com/wp-content/uploads/2016/10/movies-red.jpg" />
        </div>
        <div class="col-md-6 align-middle">
            <p>
                <span class="bold">Fusce venenatis purus nec iaculis suscipit</span><br /> Proin ut justo semper risus semper congue.
                Sed pretium porttitor aliquet. Vestibulum in pretium est.
                <br />
                In nulla ipsum, bibendum id laoreet id, bibendum sed erat.
                In ullamcorper iaculis blandit. Aenean non nunc odio.
                Duis dignissim nulla quis enim luctus maximus.
                <br />
                Vivamus varius malesuada rhoncus. Fusce semper dictum tristique.
                Suspendisse posuere pretium ex, eget euismod dolor lobortis non.
                Sed pellentesque facilisis risus, eget ullamcorper nisi finibus vitae.
            </p>
        </div>
    </div>
</div>




