@{
    ViewBag.Title = "Home Page";
}


<div class="container-fluid">
    <div class="row">
        <div id="my-carousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#my-carousel" data-slide-to="0" class="active"></li>
                <li data-target="#my-carousel" data-slide-to="1"></li>
                <li data-target="#my-carousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img alt="First slide" src="https://images.fandango.com/ImageRenderer/0/0/redesign/static/img/default_poster.png/0/images/masterrepository/other/INTRO_AvengersAgeUltron_FINAL.jpg">
                    <div class="carousel-caption">
                        <h3>Amazing movie 1</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                </div>
                <div class="item">
                    <img alt="Second slide" src="https://i.ytimg.com/vi/yduSuwU-MhI/maxresdefault.jpg">
                    <div class="carousel-caption">
                        <h3>Amazing movie 2</h3>
                        <p>Morbi eget libero quis metus consectetur semper.</p>
                    </div>
                </div>

                <div class="item">
                    <img alt="Third slide" src="http://static.tumblr.com/xmg6gta/kTxowijxv/header-nowplaying.jpg">
                    <div class="carousel-caption">
                        <h3>Amazing movie 3</h3>
                        <p>Morbi eget libero quis metus consectetur semper.</p>
                    </div>
                </div>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#my-carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#my-carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>
<br /><br /><br />
<div class="container">
    <div class="row text-center align-children-center">

        <div class="col-lg-3 col-md-3 feature">
            <header>
                <p class="bold">UltraHD streaming</p>
            </header>
            <p>
                <span class="glyphicon glyphicon-ok text-center display-block"></span>
                Proin ut justo semper risus semper congue. Sed pretium porttitor aliquet. Vestibulum in pretium est.
                In nulla ipsum, bibendum id laoreet id, bibendum sed erat. In ullamcorper iaculis blandit. Aenean non nunc odio. Duis dignissim nulla quis enim luctus maximus.
            </p>
        </div>
        <div class="col-lg-3 col-md-3 feature">
            <header>
                <p class="bold">As low as $6/month</p>
            </header>
            <p>
                <span class="glyphicon glyphicon-ok text-center display-block"></span>
                Proin ut justo semper risus semper congue. Sed pretium porttitor aliquet. Vestibulum in pretium est.
                In nulla ipsum, bibendum id laoreet id, bibendum sed erat. In ullamcorper iaculis blandit. Aenean non nunc odio. Duis dignissim nulla quis enim luctus maximus.
            </p>
        </div>
        <div class="col-lg-3 col-md-3 feature">
            <header>
                <p class="bold">Free trial</p>
            </header>
            <p>
                <span class="glyphicon glyphicon-ok text-center display-block"></span>
                Proin ut justo semper risus semper congue. Sed pretium porttitor aliquet. Vestibulum in pretium est.
                In nulla ipsum, bibendum id laoreet id, bibendum sed erat. In ullamcorper iaculis blandit. Aenean non nunc odio. Duis dignissim nulla quis enim luctus maximus.
            </p>
        </div>
    </div>
    <br /><br /><br />
    </div>


<div class="container-fluid">
    <div class="row text-right align-middle align-children-middle cta">
        <div class="col-md-6 col-md-offset-1">
            <h3>Start your free trial today</h3>
        </div>
        <div class="col-md-2 text-left">
            <button id="testBtn" type="button" class="btn btn-danger btn-lg">Subscribe</button>
        </div>
    </div>
    <br /><br />
</div>
